body{
  background-color: black;
  background: url(images/sweet-water-credo-live.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
h1 {
  color:#272727;
}
nav a {
  display: table;
  color:#ccc;
  background: black;
  margin-bottom: 5px;
  padding: 5px;
  text-decoration: none;
}

@media (min-width: 768px) {
  body{

  }
}
